
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display:flex;
  align-items: center;
  font-size: large;
  background-color: gainsboro;
  justify-content: center;
  z-index: 2;
}
.icon {
  font-size: 50px;
  margin-right: 20px;
  padding-top: 15px;
}
.Nav {
  position: fixed;
  top: 65px;
  left: 0;
  height: 65px;
  width: 100%;
  color:black;
  background-color: gainsboro;
  z-index: 2;
}
.Nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.Nav ul:last-child {
  margin-right: 0;
}
.Nav p {
  color: red;
  padding-bottom: 4px;
}
.Nav a {
  text-decoration: none;
}
.navbar-topic {
  border-bottom: solid red;
  border-width: 5px;
}
.user-card {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 10px; 
  overflow: hidden; 
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-card img {
  width: 60px; 
  height: 60px; 
  object-fit: cover;
  border-radius: 10px; 
}
.user-card p {
  font-size: 14px;
  margin: 0;
  text-align: center;
  color: black;
}
.sort-panel {
  position: fixed; 
  top: 135px; 
  right: 20px; 
  background-color: gainsboro;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display:flex;
  flex-direction: column;
}
.sort-panel button {
  padding: 10px;
  margin: 2px;
  width: 150px;
}
.sort-panel-radio-switch {
  margin-left: 10px;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 130px 0 0 0;
  padding: 0 10%;
}
.ArticleList {
  list-style: none;
  display: grid;
  grid-template-columns:  1fr; /*only does one column at below first min-width below*/
  grid-gap:0.45rem;
  max-width: 1400px;
  padding: 0.25rem;
  /* border: 2px solid orange; */
}
@media (min-width: 350px) { /* renders 2 columns above this width  */
  .ArticleList {
    grid-template-columns: repeat(2, 1fr); 
  }
}
@media (min-width: 550px) {
  .ArticleList {
    grid-template-columns: repeat(3, 1fr); 
  }
}
@media (min-width: 768px) {
  .ArticleList {
    grid-template-columns: repeat(4, 1fr); 
  }
}
@media (min-width: 1200px) { /* Five columns if viewport width > 1200px */
  .ArticleList {
    grid-template-columns: repeat(5, 1fr); 
  }
}
.ArticleCard {
  height:100%;
  padding: none;
  text-align: left;
  border: 2px solid gainsboro;
  box-sizing: border-box; 
  display:flex;
  flex-direction: column;
}
.ArticleCard-image {
  height: 140px;
  overflow: hidden;
}
.ArticleCard img {
  object-fit: cover;
  height: 100%; 
  width: 100%;
}
.ArticleCard img:hover {
  transform: scale(1.05);
}
.ArticleCard-text {
  padding:15px 15px 25px 20px;
}
.ArticleCard h4 {
  margin: 0;
}
.article-topic {
  color: red;
  font-size: 14px;
  padding-bottom: 5px;
  transform-origin: left;
}
.article-topic:hover { 
  transform: scale(1.15); 
}
.ArticleCard a {
  text-decoration: none;
  color: #000004e1;
}
.ArticleCard a:hover {
  color: rgb(255, 31, 31)
}

.SingleArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width:100%;
  max-width: 800px;
  /* border: solid red; */
}
.SingleArticle li {
  list-style: none;
  margin-right: 10px;
}
.SingleArticle img {
  max-width: 100%;
  width: 100%;
  max-width:600px;
  height: auto;
}
.voting-component {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upvote:disabled, .downvote:disabled{
  color: inherit;
}
.upvote {
  margin-right:10px;
  border-radius: 15px 0 0 15px;
}
.downvote {
  margin-left:10px;
  border-radius: 0 15px 15px 0;
}
.upvote, .downvote {
  border: none;
  padding: 5px 10px;
  background-color: rgb(237, 234, 234);
}
.upvote:hover, .downvote:hover {
  background-color: #ccc; 
}

.vote-icon {
  font-size: 25px;
}
@keyframes flash {
  0% { opacity: 1; }
  50% { 
    opacity: 0;
    background-color: gold;
  }
  100% { opacity: 1; }
}
.flash-icon {
  animation: flash 1s;
}
.article-metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.comments-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 1rem;
  padding-top: 20px;
}


.CommentList {
  list-style:none;
}
.comment {
  margin-right: 40px;
  padding-bottom: 30px;
}
.comment-divider {
  border-bottom: 1px solid #888989;
  padding-bottom: 20px;
  margin: 2px 0;
}
.comment-metadata {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.comment-author {
  font-weight: bold;
}
.error-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: red;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-message {
  flex: 1;
}

.close-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}